#chart {
    width: 100%;
    margin: 35px auto;
}

.dropdown {
    text-align: center;
    margin-top: 2%;
}
  
:host ::ng-deep .p-dropdown-label {
    font-size: 15px;
    font-family: monospace;
    margin-top: 1%;
}

:host ::ng-deep .p-dropdown-trigger-icon {
    font-size: 15px;
    background-color: transparent;
}

:host ::ng-deep .p-dropdown-clear-icon {
    font-size: 13px;
    background-color: transparent;
    margin-bottom: 1%;
}
:host ::ng-deep .p-dropdown-item > span {
    font-size: 15px;
    background-color: transparent;
    font-family: monospace;
}