<div class="row">
    <div class="col-xs-6 dropdown">
        <p-dropdown [options]="xOptions" (onChange)="initYOptions($event)" [(ngModel)]="selectedX" placeholder="Select X Axis " optionLabel="label" autoWidth="false" [style]="{'width':'50%', 'height':'40px'}"></p-dropdown>
    </div>

    <div class="col-xs-6 dropdown">
        <p-dropdown [disabled]="!enableY" [options]="yOptions" [(ngModel)]="selectedY" placeholder="Select Y Axis" optionLabel="label" [style]="{'width':'50%', 'height':'40px'}"></p-dropdown>
    </div>

    <div class="col-xs-12 dropdown">
        <button *ngIf="showPlot()" pButton type="button" (click)="onPlotClick($event)" label="Plot" class="p-button-info p-button-lg"></button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div id="chart">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                [yaxis]="chartOptions.yaxis"></apx-chart>
        </div>
    </div>
</div>