h1 {
    font-family: monospace;
    color: white;
}

.head {
    margin-top: 20px;
    margin-bottom: 20px;
}

:host ::ng-deep .p-toast-message-content {
    background-color: transparent;
    font-family: monospace;
}

:host ::ng-deep .p-toast-message-text {
    background-color: #C8E6C9;
}

:host ::ng-deep .p-toast-message-icon {
    background-color: #C8E6C9;
}

:host ::ng-deep .p-toast-summary {
    background-color: #C8E6C9;
}

:host ::ng-deep .p-toast-detail {
    background-color: #C8E6C9;
}

:host ::ng-deep .p-toast-icon-close-icon {
    background-color: #C8E6C9;
}


