:host ::ng-deep .p-button-label {
    background-color: transparent;
    font-family: monospace;
}

:host ::ng-deep .p-button-icon {
    background-color: transparent;
}

:host ::ng-deep .p-fileupload-row div:first-of-type{
    width: 0px;
}

:host ::ng-deep .p-fileupload-row {
    font-family: monospace;
}

