:host ::ng-deep .p-tabview-left-icon {
    font-size: medium;
}

:host ::ng-deep .p-tabview-nav-link {
    text-decoration: none;
    font-family: monospace;
    margin-left: 20px;
}

.tab-info{
    font-family: monospace;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}